.form-container {
    display: flex;
    flex-direction: column;
}

.form-container input{
    margin-bottom: 10px;
}

.addSubmit{
    width: 150px;
        height: 45px;
        margin: 10px;
        border: none;
        background-color: green;
        color: white;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;

}